@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidebar-width: 240px;
    --font-base: "Bai Jamjuree"
}

body {
    background: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
    background: linear-gradient(rgba(15, 17, 17, 0.91), rgba(28, 35, 36, 0.91)), url(../images/Pin\ by\ ğ“ğ¡ğğ†ğ«ğğ²ğ’ğ©ğšğœğ\ on\ ğ“ğğœğ¡\ _\ Iphone\ accessories\ gadgets\,\ Apple\ iphone\ accessories\,\ Iphone\ accessories.jpeg);
    /* background-size: cover; */
    /* background-position: center; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand)
}

img {
    width: 100%;
}
.full-height{
    height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 90px;
    border-bottom: 4px solid rgba(225, 225, 255, 0.1);
}
.shadow-effect{
    transition: all 0.5s;
}
.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 var(--color-brand);
}
.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* Navbar */
.navbar{
    background-color: #0a0a0a;
}
.nav-item .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.nav-item .nav-link:hover {
    color: var(--color-brand2);
}
.nav-item .nav-link.active{
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(17, 18, 19, 0.85), rgba(15, 15, 15, 0.85)), url(../images/DigitalMrketing.jpeg);
        background-size: cover;
        background-position: center;
    }
   
 .navbar-brand img {
     border: 6px solid var(--color-brand2);
 }
 #content-wrapper{
    padding-left: 280px;
    padding-top: 120px;
    /* padding-bottom: 50px; */
 }
}
.text-brand{
    color: var(--color-brand);
}
.btn{
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
}
.btn-brand:hover,
.btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}
.link-custom{
    font-weight: 700;
    position: relative;
}
.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}
.link-custom:hover::after{
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image{
    overflow: hidden;
}
.card-custom .card-custom-image img{
    transition: all 0.4s ease;
}
.card-custom:hover .card-custom-image img{
    transform: scale(1.1);
}